@using PageBuilder.Models

<div id="AddModuleModal" class="pb-modal">
    <div class="pb-modal-dialog pb-modal-lg">
        <div class="pb-modal-content">
            <div class="pb-modal-header">
                <button type="button" class="close" data-dismiss="pb-modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h2>Add Module</h2>
            </div>
            <div class="pb-modal-body">
                <div class="moduleListingContainer">
                    <ul class="pb-nav pb-nav-tabs clearfix">
                        <li class="active"><a href="#basic" data-toggle="pb-tab">Basic</a></li>
                        <li><a href="#static" data-toggle="pb-tab">Static</a></li>
                        <li><a href="#dynamic" data-toggle="pb-tab">Dynamic</a></li>
                    </ul>

                    <ul class="pb-tab-content clearfix">
                        <li class="active pb-tab-pane" id="basic">
                            <a id="AddRichTextArea" class="moduleEntry" data-toggle="pb-tooltip" data-placement="top"
                                title="Editable Html Text Area. Great for adding editable content such as text and images.">Rich Text Area</a>
                        </li>
                        <li id="static" class="pb-tab-pane">
                            @*<div class="moduleToolbar">
                                <input type="text" id="moduleSearch" placeholder="Search Modules" />
                                <button class="button" id="ShowMostUsedModules">Most Used <i class="fa fa-star"></i></button>
                                <button class="button active" id="ShowAllModules">All <i class="fa fa-asterisk"></i></button>
                            </div>*@
                            <div class="moduleScrollWrap">
                                <div class="moduleContainer" data-avgusage="@Model.UsageAverage">
                                    @{
                                        foreach (var module in Model.Modules)
                                        {
                                        <a data-name="@module.ModuleName" data-id="@module.ContentModuleId" data-usage="" class="moduleEntry">
                                            <span class="title">@module.ModuleName</span>

                                            <span class="description">@module.ModuleName</span>
                                        </a>
                                        }
                                    }
                                </div>
                            </div>
                        </li>
                        <li id="dynamic" class="pb-tab-pane">
                            @*Dynamic Modules*@
                            @{
                                foreach (var module in Model.DynamicModulesList)
                                {
                                    <a data-name="@module.Key" data-usage="" class="moduleEntry">@module.Key</a>
                                }
                            }
                        </li>
                    </ul>
                </div>
            </div>
            <div class="pb-modal-footer"></div>
        </div>
    </div>
</div>

<div id="AddRowModal" class="pb-modal">
    <div class="pb-modal-dialog">
        <div class="pb-modal-content">
            <div class="pb-modal-header">
                <button type="button" class="close" data-dismiss="pb-modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h2>Add Row</h2>
            </div>
            <div class="pb-modal-body">
                <div class="pb-content container">
                    <ul class="addRowListing">
                        <li><a class="pb-btn pb-btn-primary" data-cols="1">Single Column [100%]</a></li>
                        <li><a class="pb-btn pb-btn-primary" data-cols="2">Two Columns [50% 50%]</a></li>
                        <li><a class="pb-btn pb-btn-primary" data-cols="3">Three Columns Column [33% 33% 33%]</a></li>
                        <li><a class="pb-btn pb-btn-primary" data-cols="4">Left Rail [40% 60%]</a></li>
                        <li><a class="pb-btn pb-btn-primary" data-cols="5">Right Rail [60% 40%]</a></li>
                    </ul>
                </div>
            </div>
            <div class="pb-modal-footer"></div>
        </div>
    </div>
</div>

<div id="ConfirmDeleteRowModal" class="pb-modal">
    <div class="pb-modal-dialog">
        <div class="pb-modal-content">
            <div class="pb-modal-header">
                <button type="button" class="close" data-dismiss="pb-modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h2>Confirm Removal</h2>
            </div>
            <div class="pb-modal-body">
                <div class="pb-content container">
                    <p class="lead">Are you sure you want to remove this row?</p>

                </div>
            </div>
            <div class="pb-modal-footer">
                <button data-dismiss="pb-modal" class="pb-btn pb-btn-default">Cancel</button>
                <button class="pb-btn pb-btn-danger confirmButton confirmModalButton" id="ConfirmBuilderRowDelete">Confirm</button>
            </div>
        </div>
    </div>
</div>

<div id="ConfirmDeleteColumnModal" class="pb-modal">
    <div class="pb-modal-dialog">
        <div class="pb-modal-content">
            <div class="pb-modal-header">
                <button type="button" class="close" data-dismiss="pb-modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h2>Confirm Removal</h2>
            </div>
            <div class="pb-modal-body">
                <div class="pb-content container">
                    <p class="lead">Are you sure you want to remove this column?</p>

                </div>
            </div>
            <div class="pb-modal-footer">
                <button data-dismiss="pb-modal" class="pb-btn pb-btn-default">Cancel</button>
                <button class="pb-btn pb-btn-danger confirmButton confirmModalButton" id="ConfirmBuilderColumnDelete">Confirm</button>
            </div>
        </div>
    </div>
</div>


<div id="ConfirmDeleteRichTextModal" class="pb-modal">
    <div class="pb-modal-dialog">
        <div class="pb-modal-content">
            <div class="pb-modal-header">
                <button type="button" class="close" data-dismiss="pb-modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h2>Confirm Removal</h2>
            </div>
            <div class="pb-modal-body">
                <div class="pb-content container">
                    <p class="lead">Are you sure you want to remove this Rich Text Area?</p>

                </div>
            </div>
            <div class="pb-modal-footer">
                <a class="pb-pull-right pb-btn pb-btn-danger confirmButton confirmModalButton" id="ConfirmBuilderRichTextDelete">Confirm</a>
                <a onclick="$('.pb-modal').pbModal('hide');" class="pb-pull-right pb-btn pb-btn-default">Cancel</a>
            </div>
        </div>
    </div>
</div>


<div id="EditFormModal" class="pb-modal">
    <div class="pb-modal-dialog">
        <div class="pb-modal-content">
            <div class="pb-modal-header">
                <button type="button" class="close" data-dismiss="pb-modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h2>Edit Form</h2>
            </div>
            <div class="pb-modal-body">
                <div class="pb-content container">
                    <ul class="pb-nav pb-nav-tabs">
                        <li class="active"><a href="#addFormField" data-toggle="pb-tab">Add Field</a></li>
                        <li><a href="#fieldSettings" data-toggle="pb-tab">Field Settings</a></li>
                        <li><a href="#formSettings" data-toggle="pb-tab">Form Settings</a></li>
                    </ul>

                    <ul class="tab-content noPadding">
                        <li class="active pb-tab-pane" id="addFormField">
                            <a class="pb-btn pb-btn-default" data-type="text" href="#">Text Input Field</a>
                            <a class="pb-btn pb-btn-default" data-type="textarea" href="#">Text Area</a>
                        </li>
                        <li id="fieldSettings" class="pb-tab-pane">
                            <div class="inspectorPane" data-type="text">

                                <label>Text Input Settings</label>

                                <div class="fieldContainer" data-field="label">
                                    <label>Label</label>
                                    <input type="text" value="" />
                                </div>

                                <div class="fieldContainer" data-field="placeholder">
                                    <label>Placeholder</label>
                                    <input type="text" value="" />
                                </div>

                                <div class="fieldContainer" data-field="required">
                                    <label>Required</label>
                                    <input type="checkbox" value="" />
                                </div>

                            </div>

                            <div class="inspectorPane" data-type="textarea">

                                <label>Text Area Settings</label>

                                <div class="fieldContainer" data-field="label">
                                    <label>Label</label>
                                    <input type="text" value="" />
                                </div>

                                <div class="fieldContainer" data-field="placeholder">
                                    <label>Placeholder</label>
                                    <input type="text" value="" />
                                </div>

                                <div class="fieldContainer" data-field="rows">
                                    <label>Rows</label>
                                    <input type="number" value="4" />
                                </div>

                                <div class="fieldContainer" data-field="required">
                                    <label>Required</label>
                                    <input type="checkbox" value="" />
                                </div>

                            </div>
                        </li>
                        <li id="formSettings" class="pb-tab-pane">
                            <h4>Form Settings</h4>

                            <div class="fieldContainer">
                                <label>Form Label</label>
                                <input type="text" />
                            </div>

                            <div class="fieldContainer">
                                <label>Post Url</label>
                                <input type="text" value="/home/formsubmit/" />
                            </div>

                            <div class="fieldContainer">
                                <label>Save Form To Database?</label>
                                <input type="checkbox" checked="checked" />
                            </div>

                            <div class="fieldContainer">
                                <label>Send E-mail On Submit?</label>
                                <input type="checkbox" checked="checked" />
                            </div>

                            <div class="fieldContainer">
                                <label>E-mail Addresses to send to :</label>
                                <input type="text" />
                            </div>

                            <div class="fieldContainer">
                                <label>Ajax Submit</label>
                                <input type="checkbox" checked="checked" />
                            </div>
                        </li>
                    </ul>
                    <div class="editorPane">
                        <div id="FormHtml"></div>
                    </div>
                </div>
            </div>
            <div class="pb-modal-footer">
                <a class="pb-pull-right pb-btn pb-btn-primary confirmButton confirmModalButton" id="UpdateFormButton">Update</a>
                <a onclick="$('.pb-modal').pbModal('hide');" class="pb-pull-right pb-btn pb-btn-default">Close</a>
            </div>
        </div>
    </div>
</div>
