@using DirigoEdgeCore.Utils
@model List<DirigoEdgeCore.Data.Entities.Blog>

@* Blog Author *@
@{

    foreach (var blog in Model)
    {
        var user = "Anonymous";
        if (blog.Author != "")
        {
            user = blog.Author;
        }
        var blogAuthorUrl = "#";
        if (blog.Author != "")
        {
            blogAuthorUrl = blog.BlogAuthorUrl ?? "#";
        }

        var blogUrl = "/blog/" + blog.Category.CategoryNameFormatted + "/" + ContentUtils.GetFormattedUrl(blog.PermaLink) + "/";

        
        <li class="blogItem relative" data-id="@blog.BlogId">
            
            <a href="@blogUrl">@blog.Title</a>
            
            @{
        string inCategoryLanguage = String.IsNullOrEmpty(blog.Category.CategoryName) ? "" : " in <a class='categoryLink' href='/blog/" + blog.Category.CategoryNameFormatted + "'/>" + blog.Category.CategoryName + "</a>";
            }
            <p class="byLine">Written by <a href="@blogAuthorUrl">@blog.BlogAuthor.DisplayName</a>@Html.Raw(inCategoryLanguage)</p>
                
            <p class="dateLine">@blog.Date.ToLongDateString()</p>
           
        </li>
    }
}