<div id="SEOMetaModal" class="modal medium">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="pb-modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h2>SEO / Meta</h2>
                <p class="lead">Set your content's meta information</p>
            </div>
            <div class="modal-body">
                <label class="" data-toggle="tooltip" data-placement="top" title="Commonly used by search engines to display preview snippets for a given page.">Meta Description</label>
                <input id="MetaDescription" class=" form-control" type="text" placeholder="" autocomplete=off value="@Model.ThePage.MetaDescription">

                @* <label class="" data-toggle="tooltip" data-placement="top" title="Open Graph : The title of your object as it should appear within the graph, e.g., 'The Rock'.">OG Title</label>
                <input class=" form-control" id="OGTitle" type="text" placeholder="" autocomplete=off value="@Model.ThePage.OGTitle">*@

                <label class="" data-toggle="tooltip" data-placement="top" title="Open Graph : An image URL which should represent your object within the graph.">OGImage</label>
                <input class=" form-control" id="OGImage" type="text" placeholder="" autocomplete=off value="@Model.ThePage.OGImage">

                @*<label class="" data-toggle="tooltip" data-placement="top" title="Open Graph : The type of your object, e.g., 'video.movie'. Depending on the type you specify, other properties may also be required.">OGType</label>
                <input class=" form-control" id="OGType" type="text" placeholder="" autocomplete=off value="@Model.ThePage.OGType">*@

                @*<label class="" data-toggle="tooltip" data-placement="top" title="Open Graph : The canonical URL of your object that will be used as its permanent ID in the graph, e.g., 'http://www.imdb.com/title/tt0117500/'">OGUrl</label>
                <input class=" form-control" id="OGUrl" type="text" placeholder="" autocomplete=off value="@Model.ThePage.OGUrl">*@

                @*<label class="" data-toggle="tooltip" data-placement="top" title="The one authoritatively correct URL for a resource.">Canonical</label>
                <input class=" form-control" id="Canonical" type="text" placeholder="" autocomplete=off value="@Model.ThePage.Canonical">*@
            </div>
            <div class="modal-footer">
                <a class="pull-right btn btn-primary" data-dismiss="pb-modal">Close</a>
                <p class="pull-right saveTip" style="">(Changes will be saved when you save your blog)</p>
            </div>
        </div>
    </div>
</div>