@model DirigoEdgeCore.Models.ViewModels.ContentViewViewModel

@section Styles {
    <style>
        @{
           foreach (var styleData in Model.PageData.StylesContents)
           {
               @Html.Raw(styleData);
           }

           @Html.Raw(Model.ThePage.CSSContent)
        }
    </style>
}

<div id="BuilderContents" class="contentPage pageBuilder" data-id="@Model.ThePage.ContentPageId">
    @Html.Raw(Model.PageData.HtmlFormatted)
</div>

@section Scripts {
    <script id="UserScripts" class="editor-removable">
        @{
           foreach (var scriptData in Model.PageData.ScriptContents)
           {
               @Html.Raw(scriptData);
           }

           @Html.Raw(Model.ThePage.JSContent)
        }
    </script>
}