@model DirigoEdge.Areas.Admin.Models.ViewModels.BlogSettingsViewModel

@{
    ViewBag.Title = "Blog Settings";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";    
}

<div class="siteSettings">
    <div class="row form-group">
        <div class="col-sm-12">
            <h3>Blog Settings @Html.Partial("Partials/BookmarkButtonPartial")</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="BlogTitleInput" class="col-sm-2 control-label">Blog Title</label>
                    <div class="col-sm-10">
                        <input type="text" value="@Model.Settings.BlogTitle" class="saveField form-control" id="BlogTitleInput" data-field="BlogTitle" autocomplete="off" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="BlogRollCount" class="col-sm-2 control-label">Blog Roll Count</label>
                    <div class="col-sm-10">
                        <input class="saveField form-control" type="text" value="@Model.Settings.MaxBlogsOnHomepageBeforeLoad" id="BlogRollCount" data-field="MaxBlogsOnHomepageBeforeLoad" autocomplete="off"/>
                        <div class="settingsComment hidden-xs">The maximum number of blogs to show on the blog page before the "More" button appears.</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="MaxArchives" class="col-sm-2 control-label">Archive Months</label>
                    <div class="col-sm-10">
                        <input class="saveField form-control" type="text" value="@Model.Settings.MaxArchives" id="MaxArchives" data-field="MaxArchives" autocomplete="off" />
                        <div class="settingsComment hidden-xs">Number of months to show in the archives listing.</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            @{
                                string Checked = Model.Settings.DisableAllCommentsGlobal ? "checked = checked" : "";
                            }
                            <label>
                                <input class="custom saveField" @Checked type="checkbox" data-field="DisableAllCommentsGlobal"/> Disable Comments Globally
                            </label>
                        </div>
                        <div class="settingsComment  hidden-xs">Blog Comments can be disabled individually - check this option if you never want comments to appear on your blogs.</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            @{
                                string sdcChecked = Model.Settings.ShowDisqusComents ? "checked = checked" : "";
                            }
                            <label>
                                <input class="custom saveField" type="checkbox" @sdcChecked data-field="ShowDisqusComents"/> Use Disqus Comments
                            </label>
                        </div>
                        <div class="settingsComment hidden-xs"><a href="https://disqus.com/" target="_blank">What's this?</a> Requires a Disqus Shortname</div>
                        <div class="settingsComment  hidden-xs">Blog Comments can be disabled individually - check this option if you never want comments to appear on your blogs.</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="DisqusShortname" class="col-sm-2 control-label">Disqus Shortname</label>
                    <div class="col-sm-10">
                        <input type="text" class="eight commentBelow saveField form-control" id="DisqusShortname" data-field="DisqusShortName" value="@Model.Settings.DisqusShortName"/>
                        <div class="settingsComment hidden-xs">Your unique identifier for disqus. <a href="https://disqus.com/admin/signup/" target="_blank">Get an id for your site</a>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            @{
                                string sfcChecked = Model.Settings.ShowFacebookComments ? "checked = checked" : "";
                            }
                            <label>
                                <input class="custom saveField" type="checkbox" data-field="ShowFacebookComments" @sfcChecked /> Use Facebook Comments
                            </label>
                        </div>
                        <div class="settingsComment hidden-xs">Requires a Facebook app id from the link below.</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="FacebookAppId" class="col-sm-2 control-label">Facebook App ID</label>
                    <div class="col-sm-10">
                        <input type="text" class="eight commentBelow saveField form-control" id="FacebookAppId" data-field="FacebookAppId" value="@Model.Settings.FacebookAppId" autocomplete="off" />
                        <div class="settingsComment hidden-xs">Necessary if you want to utilize facebook comments.</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            @{
                                string sflbChecked = Model.Settings.ShowFacebookLikeButton ? "checked = checked" : "";
                            }
                            <label>
                                <input class="custom saveField" type="checkbox" data-field="ShowFacebookLikeButton" @sflbChecked /> Show Facebook Like Button
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <a class="btn btn-primary mobileMarginBottom savePageButton" data-url="/admin/settings/saveblogsettings/">Save</a>
                        <div id="SaveIndicator"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
</div>
