@using DirigoEdgeCore.Data.Entities
@using DirigoEdgeCore.Models.ViewModels
@using DirigoEdgeCore.PluginFramework
@using DirigoEdgeCore.Utils
@using SquishIt.Framework

@{
    var siteSettings = new SiteSettingsUtils();
    var analyticsType = siteSettings.GetGoogleAnalyticsType();
    var analyticsSnippet = siteSettings.GetGoogleAnalyticsId();
}

<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie ie6 no-js" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 no-js" lang="en"> <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" ><![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 no-js" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 no-js" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        @* ** Sets the viewport width to device-width. sets initial zoom level to 100% **@
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>@ViewBag.Title</title>

        <meta name="description" content="@ViewBag.MetaDesc">

        <meta name="robots" content="@ViewBag.Index, @ViewBag.Follow" />

        <meta property="og:title" content="@ViewBag.OGTitle" />
        <meta property="og:type" content="@ViewBag.OGType" />
        <meta property="og:image" content="@ViewBag.OGImage" />
        <meta property="og:description" content="@ViewBag.MetaDesc" />
        <meta property="og:url" content="@ViewBag.OGUrl"/>

        <link rel="canonical" href="@ViewBag.Canonical" />

        @RenderSection("Meta", false)
    
        @Html.DoAction("head")

        @Html.DoAction("head_layout")
    
        @if (UserUtils.UserIsAdmin())
        {
            @Html.DoAction("head_logged_in")
        }
    
        <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet">
        <link href='/css/main.css' rel='stylesheet' type='text/css'>
        @if (UserUtils.UserIsAdmin())
        {
            <link href='/areas/admin/css/logged-in.css' rel='stylesheet' type='text/css'>
        }

        @RenderSection("Styles", false)

        @* Modernizr stays in <head> *@
        <script src="@Url.Content("~/Scripts/modernizr.min.js")" type="text/javascript"></script>
    </head>
    
    @{
        bool userIsAdmin = UserUtils.UserIsAdmin();
    }
    <body>

        @if (analyticsType == "Tag Manager" && !String.IsNullOrEmpty(analyticsSnippet))
        {
            @Html.Raw(analyticsSnippet)
        }
        
        <!--[if lt IE 9]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        @if (UserUtils.IsLoggedIn() && ViewBag.IsPublished != null && !ViewBag.IsPublished)
        {
            <div class="alert alert-info alert-dismissible fade in edge-alert edge-alert-header" data-alert="unpublished-page" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Heads up!</strong> This page has not been published.
                <a href="/admin/pages/editcontent/@ViewBag.PageId/" class="alert-link edge-publish-link">Publish now</a> or <a href="#" class="alert-link" data-dismiss="alert" aria-label="Close">dismiss this alert.</a>
            </div>
        }

        <!-- Header and Nav -->
        <header class="container-fluid">
            @Html.Partial("~/Views/Shared/Partials/HeaderPartial.cshtml", new HeaderPartialViewModel())
        </header>

        <!-- Body Content -->
        <section class="container" id="Main">
            @RenderBody()
        </section>

        <!-- Footer -->
        <footer class="container">
            <div class="row">
                <div class="col-lg-12">
                    <hr/>
                    <div class="row">
                        <div class="col-lg-6">
                            <p>&copy; Copyright no one at alllllll. Go to town.</p>
                        </div>
                        <div class="col-lg-6">
                            <ul class="list-inline pull-right">
                                <li><a href="/">Home</a></li>
                                <li><a href="/about">About</a></li>
                                <li><a href="/contact">Contact</a></li>
                                <li><a href="/blog">Blog</a></li>
                                <li><a href="/admin">Admin</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        @* Modals *@
        @RenderSection("Modals", false)
        @Html.Partial("Partials/ContactSuccessModal")

        @* Use Google jquery CDN, with fallback to local *@
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script> window.jQuery || document.write('<script src="/Scripts/jquery/jquery-1.11.1.min.js"><\/script>') </script>
        @{
            var scriptBundle = SquishIt.Framework.Bundle.JavaScript();

            scriptBundle
                .Add("~/scripts/picturefill.js")
                .Add("~/scripts/common.js")

                // Used in validating Contact Form
                .Add("~/scripts/jquery/plugins/jquery.validate.js")
                .Add("~/scripts/jquery/plugins/jquery.form.js")

                // Bootstrap Resources. Use only what you need
                .Add("~/scripts/bootstrap/js/bootstrap.js")

                // Site Specific
                .Add("~/scripts/mcp.js")
                .Add("~/scripts/blog_class.js")
                .Add("~/scripts/resetPassword.js")
                .Add("~/Scripts/Edge/Edge.js")
                .Add("~/scripts/Edge/ajax-service.js");
        }
        @Html.Raw(scriptBundle.Render("~/scripts/combined_#.js"))

        @* Load the text editor plugin and text editor modal for admins so they can edit content in place *@
        @if (UserUtils.UserIsAdmin())
        {
            Html.RenderPartial("~/Areas/Admin/Views/Shared/AdminEditPartial.cshtml");

            <script src="/Scripts/jqueryui/js/jquery-ui-1.9.2.custom.js"></script>
            <script src="/Areas/Admin/Scripts/filebrowser.js"></script>
            <script src="/Scripts/ckeditor/ckeditor.js"></script>
            <script src="/Areas/Admin/Scripts/adminContentEditor.js"></script>

                @* Add scripts for content editor in modal *@
            <script src="http://d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
            <script src="/Scripts/jquery/plugins/dropzone/dropzone.js"></script>
            <script src="/Scripts/jquery/plugins/jquery.noty.js"></script>
            <script src="/Scripts/jquery/plugins/jquery.noty.layout.js"></script>
            <script src="/Scripts/jquery/plugins/jquery.noty.theme.js"></script>
            <script src="/Areas/Admin/Scripts/adminContentEditorModal.js"></script>

            <link href="/Scripts/jquery/plugins/dropzone/css/dropzone.css" type="text/css" rel="stylesheet">
            <link href="/Scripts/jquery/plugins/dropzone/css/basic.css" type="text/css" rel="stylesheet">
            @Html.DoAction("footer_logged_in")
        }

        @RenderSection("Scripts", false)

        @Html.DoAction("footer")

        @if (analyticsType != "Tag Manager" && !String.IsNullOrEmpty(analyticsSnippet))
        {
            @Html.Raw(analyticsSnippet)
        }
    </body>
</html>
