@{
    ViewBag.Title = "Blogs by Tag";
}
@using DirigoEdgeCore.Data.Entities
@using DirigoEdgeCore.Utils
@model DirigoEdgeCore.Models.ViewModels.TagSingleViewModel

<div class="row module blogCatListing">

    @*BreadCrumbs*@
    <div class="col-lg-12 breadcrumbContainer">
        <ul class="breadcrumbs">
            <li><a href="/">Home</a></li>
            <li><a href="/blog/">Blog</a></li>
            <li class="current"><a href="#">@Model.TheTag</a></li>
        </ul>
    </div>

    <div class="col-lg-8">
        <div class="stripe darkBlue"></div>
        <h1 class="title sansserif light">@Model.TheTag</h1>

        @{
            if (Model.BlogRoll.Count == 0)
            {
                <p>There are currently no blogs with this tag available.</p>
            }
        }

        @{
            foreach (var blog in Model.BlogRoll)
            {
                
                <article>
                    <h2><a href="/blog/@blog.Category.CategoryNameFormatted/@ContentUtils.GetFormattedUrl(blog.PermaLink)/">@blog.Title</a></h2>
                    <h6>Written by <a href="@blog.BlogAuthorUrl">@blog.BlogAuthor.DisplayName</a> on @blog.Date.ToLongDateString()</h6>

                    <div class="row">
                        <div class="userBlogContent col-lg-12">
                            @Html.Raw(blog.ShortDesc)
                        </div>
                    </div>
                </article>
            }
        }
    </div>

    <div class="col-lg-4">
        <div class="categoryListingModule">
            <h5>Categories</h5>
            @{
                if (Model.Categories.Count < 1)
                {
                    <p>There are currently no categories to display.</p>
                }
                else
                {
                    <ul class="side-nav">
                     
                    @foreach (var cat in Model.Categories)
                    {
                        <li>
                            <a href="/blog/@cat.TheCategory.CategoryNameFormatted/">@cat.TheCategory.CategoryName (@cat.BlogCount)</a>
                        </li>
                    }
                    </ul>
                }
            }
        </div>

    </div>

</div>