@{
    ViewBag.Title = "Edit Content";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@model DirigoEdgeCore.Models.ViewModels.EditContentViewModel
@using System
@using System
@using DirigoEdgeCore.Utils

<div class="editContent" data-id="@Model.BasePageId">

    @Html.Partial("Partials/PageEditHeaderPartial")

    <div class="row visibleOverflow" id="ContentRowContainer">
        <div id="ContentRow" class="col-md-9">

            @{
                string permaLinkModded = !String.IsNullOrEmpty(Model.ThePage.Permalink) ? "True" : "False";
               
            }

            <div class="contentTitle">
                <input id="PageTitle" class="required form-control input-lg" type="text" value="@Model.ThePage.Title" autocomplete=off />
                <span class="permHint">Permalink: </span>
                <span data-url="@Model.SiteUrl" id="SiteUrl">@Model.SiteUrl</span><span id="PermaLinkEnd" data-modified="@permaLinkModded">@ContentUtils.GetFormattedUrl(Model.ThePage.Permalink)</span><input id="PermaLinkEditPane" type="text" class="hide autogrow" autocomplete="off" /><span>/</span>
                <a id="EditPermaLink" href="javascript:void(0);">edit</a>
                <a id="ViewPermaLink" href="@Model.SiteUrl@Model.ThePage.Permalink" target="_blank">view live page</a>
            </div>

            @{
                // If no schema is assigned, show the html tab by default
                bool hasSchema = Model.ThePage.SchemaId != null && Model.ThePage.SchemaId > 0;
                string fieldEditorActive = (hasSchema && Model.ShowFieldEditor) ? "active" : "";
                string htmlEditorActive = (!hasSchema || !Model.ShowFieldEditor) ? "active" : "";
                string hideFieldEditorClass = !Model.ShowFieldEditor ? "hide" : "";
            }

            <a id="InsertContentImage" href="#" class="btn btn-default btn-sm"><i class="fa fa-picture-o"></i>&nbsp; Insert Image</a>

            <ul class="nav nav-tabs">
                <li class="@fieldEditorActive @hideFieldEditorClass">
                    <a href="#EditorTab" data-toggle="tab">Fields</a>
                </li>
                <li class="@htmlEditorActive">
                    <a href="#HtmlTab" data-toggle="tab">HTML</a>
                </li>
                <li>
                    <a href="#CSSTab" data-toggle="tab">CSS</a>
                </li>
                <li>
                    <a href="#JSTab" data-toggle="tab">Javascript</a>
                </li>
            </ul>

            <ul class="tab-content">

                @*Schema Editor*@
                <li class="relative tab-pane editTabArea @fieldEditorActive" id="EditorTab" data-schemaid="@Model.ThePage.SchemaId">
                    @{
                        if (Model.ThePage.SchemaId == null || Model.ThePage.SchemaId < 1)
                        {
                        <p>No Schema assigned.</p>
                        }
                    }
                </li>

                @*HTML*@
                <li class="relative tab-pane editTabArea @htmlEditorActive" id="HtmlTab">
                    <div class="aceEditArea" id="HTMLContent">@Model.ThePage.HTMLUnparsed</div>
                </li>

                @*CSS*@
                <li class="relative tab-pane editTabArea" id="CSSTab">
                    <div class="aceEditArea" id="CSSContent">@Model.ThePage.CSSContent</div>

                </li>

                @*Javascript*@
                <li class="relative tab-pane editTabArea" id="JSTab">
                    <div class="aceEditArea" id="JSContent">@Model.ThePage.JSContent</div>
                </li>
            </ul>

            <div class="col-lg-12">
                <div class="textEditorControls">
                    <form class="custom">
                        @{
                            string Checked = Model.UseWordWrap ? "checked=checked" : "";
                        }
                        <label for="WordWrap">
                            <input type="checkbox" class="" id="WordWrap" @Checked>
                            WordWrap
                        </label>
                    </form>
                </div>
            </div>

        </div>

        <div class="col-md-3">
            @Html.Partial("~/Areas/Admin/Views/Shared/EditContentSettingsPartial.cshtml")
        </div>

    </div>

</div>

@section scripts {
    <script src="http://d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="/Scripts/jquery/plugins/dropzone/dropzone.js"></script>
    <link href="/Scripts/jquery/plugins/dropzone/css/dropzone.css" type="text/css" rel="stylesheet">
    <link href="/Scripts/jquery/plugins/dropzone/css/basic.css" type="text/css" rel="stylesheet">

    @*CKEditor and Mustache required for Schema Editor*@
    <script src="/scripts/ckeditor/ckeditor.js"></script>
    <script src="/Areas/Admin/Scripts/mustache/mustache.js"></script>
    <script src="/Areas/Admin/Scripts/fieldEditor.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            // AutoGrow Input
            $("input.autogrow").autoGrowInput();
        });
    </script>
}

@section Modals {

    <div id="FileBrowserModal" class="modal large">
        @* Content is loaded via Ajax in CKEditor insertimage plugin *@
    </div>

    @Html.Partial("Partials/RevisionDetailPartial")

}